.outer{
    height: 100vh;
    background: linear-gradient(to top,white 50%,rgb(136, 241, 215) 90%)no-repeat;
}
.panel-heading{
    text-align: center;
    margin-bottom: 10px;
}
#forget{
    min-width: 100px;
    margin-left: auto;
    text-decoration: none;
    cursor: pointer;
}
a:hover{
    text-decoration: none;
}
.form-inlinelablel{
    padding-left: 10px;
    margin: 0;
    cursor: pointer;
}
.btn{
    margin-top: 20px;
    border-radius: 15px;
}
.panel{
    min-height: 380px;
    box-shadow: 20px 20px 80px;
    border-radius: 12px;
    margin-top: 100px;
}
.inuput-feild{
    border-radius: 5px;
    padding: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border: 1px solid white;
    color: aqua;
}
.inuput-feild.error{
    border: 1px solid red;
    color: red;
}
input[type='text'],
input[type='password'],
input[type='firstname'],
input[type='lastname'],
input[type='email']{
    border-style: solid;
    outline: none;
    box-shadow: none;
    width: 100%;
}
.fa-eye-slash.btn{
    border: none;
    outline: none;
    box-shadow: none;
}
img{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    position: relative;
}
:host {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  mat-drawer {
    width: 260px;
  }
  mat-drawer-container {
    height: 100%;
  }
  
  mat-drawer {
    background: #b4f1cd;
  }