<mat-nav-list>
    <div class="logo py-4">
      <img src="./assets/images/company-logo.png" alt="Company Logo" />
    </div>
    <mat-divider></mat-divider>
    <h2 matSubheader class="mt-2">MENU</h2>
  
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/home">
      <mat-icon>home</mat-icon> Home
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard">
      <mat-icon>dashboard</mat-icon> Dashboard
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/UserManagement">
      <mat-icon>supervised_user_circle</mat-icon> UserManagement
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/rep"> <mat-icon>business_center</mat-icon> Reps </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/customers"> <mat-icon>people_outline</mat-icon> Customers </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/location"> <mat-icon>location_city</mat-icon> Locations </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/lot"> <mat-icon>domain</mat-icon> Lots </a>
  </mat-nav-list>
