body{
  background-color: #0f3606 !important; 
}
:host {
    .mat-icon {
      vertical-align: middle;
      margin-right: 1rem;
    }
  }
  .logo {
    text-align: center;
    padding: 2.6rem 1rem;
    img {
      width: 150px;
    }
  }
  .mat-divider {
    border-top-width: 2px;
    border-color: white;
  }
  .mat-list-item {
    color: #183502 !important;
    font-size: 0.8rem;
    height: 44px !important;
    margin-bottom: 4px;
    &:hover {
      color: #014e01 !important;
    }
    ::ng-deep {
      .mat-list-item-content {
        border-radius: 5px;
        margin: 0 8px;
        &:hover {
          background: #20df1a !important;
        }
      }
    }
  }
  .list-item-active {
    // background: blue !important;
    // border-radius: 0 2rem 2rem 0;
    // &:hover {
    //   background: blue;
    // }
  
    color: rgb(30, 78, 5) !important;
    ::ng-deep {
      .mat-list-item-content {
        background: #f3f7eb !important;
        &:hover {
          background: #f0f5e6 !important;
        }
      }
    }
  }
  .mat-subheader {
    color: #818cf8;
    font-size: 0.6rem;
    font-weight: 100;
    letter-spacing: 1px;
  }